@media (max-width: 576px) {
  .shop-container .col-sm-4.col-category-filter {
    padding-right: 5px
  }
  .shop-container .col-sm-8.col-products {
    padding-left: 5px
  }
}
.banner {
  background: url('/img/breakfast.jpg');
  background-size: cover;
  height: 200px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .banner {
    height: 100px;
  }
}
