.container {
  height: calc(100vh - 140px);
}
.category-menu {
  padding: 0 0 0 15px;
  max-width: 150px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex-start: start;
  box-sizing: border-box;
}
.nav-link {
  align-self: center;
}
