ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-container {
  min-height: calc(100vh - 70px);
  margin: 30px 0;
}
.footer {
  color: white;
  padding: 15px;
}
.category-menu {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px;
}
.category-menu__body {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
}
.category-menu__title {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #dedede;
}
.nav-link {
  align-self: center;
}
.product-list {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.product-item {
  width: 100%;
  margin: 0 5px 5px 0;
}
.product-item > .card:hover {
  background-color: #e9f0fa52;
}
.card-footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.card--disabled {
  background: #f0efef61;
  opacity: 0.7;
}
.product-filter {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.product-filter__body {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
}
.product-filter__title {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 2px solid #dedede;
}
.product-order {
  margin-bottom: 20px;
  position: relative;
}
.product-order__list {
  display: flex;
  background-clip: border-box;
  border: 1px solid #dedede;
  border-right: 0;
  border-radius: 0.25rem;
  flex-wrap: wrap;
}
.product-order__item {
    border-right: 1px solid;
    border-color: #dedede;
    flex-grow: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-basis: 33%;
    padding: 10px;
}
.order-item--pressed {
  background: #b6b3b3;
  color: white;
}
.filter-buttons {
  display: flex;
  flex-direction: column;
}
.filter-buttons button:first-child {
  margin-bottom: 10px;
}
.spinner--wrapper {
  margin-top: 50px;
  text-align: center;
}
.message--wrapper {
  margin: 150px;
  text-align: center;
}
@media (min-width: 768px) {
  .product-item {
    width: 49%;
  }
}
@media (min-width: 1080px) {
  .product-item {
    width: 32.5%;
  }
}
@media (max-width: 576px) {
  .card-footer {
    flex-direction: column;
  }
  .card-footer > .product-item__price {
    margin-bottom: 10px;
  }
}
.cart-list {
  margin-bottom: 20px;
}
.cart-list__list {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: 5px;
}
.cart-item {
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}
.cart-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.cart-item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .cart-item__quantity {
    flex-direction: column;
  }
}
.cart-item__quantity input {
  margin: 0 10px;
  width: 50px;
}
.badge-cart {
  margin-left: 5px;
}
.search-bar {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .search-bar {
    max-width: 350px;
  }
}
.collapse-icon {
  margin-right: 3px;
  cursor: pointer;
  font-size: smaller;
}
.menu-category__item {
  cursor: pointer;
}
.menu-category__children {
  margin-left: 15px;
}
@media (max-width: 576px) {
  .shop-container .col-sm-4.col-category-filter {
    padding-right: 5px
  }
  .shop-container .col-sm-8.col-products {
    padding-left: 5px
  }
}
.cart-checkout {
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.cart-checkout__title {
  padding: 20px;
  border-bottom: 1px solid #dedede;
}
.cart-checkout__item {
  justify-content: space-between;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #dedede;
}
.cart-checkout__checkout-btn {
  flex: 1;
}
.product-item .card-body {
  display: flex;
  justify-content: center;
}
.product-item__image {
  align-self: center;
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 220px;
}
.cart-item__product-info {
  display: flex;;
  flex-direction: column;
}
.cart-item__image {
  width: 100%;
}
.mt-30 {
  margin-top: 30px;
}
